@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Work Sans", sans-serif;
}
.section-1{
    width: auto;
    height: auto;
    background-color: rgba(255, 144, 14, 0.1);
}
ul{
    display: flex;
   justify-content: space-between;
}
li{
    list-style: none;
    color: rgb(66, 66, 66);
font-size: 1rem;
font-weight: 500;
line-height: 1.5rem;
margin: 1.3rem;
}
.nav-item{
    text-decoration: none;
    color: black;
}
.brand{
    color: rgb(19, 19, 19);
font-size: 3rem;
font-weight: 700;
line-height: 3.5rem;
letter-spacing: 0%;
text-align: center;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
     max-width: 935px;
     margin: 0 auto;
}
.section-1-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 560px;
    margin: 0 auto;
   align-content: center;
   text-align: center;

}
.section-1-h1{
color: rgb(19, 19, 19);
font-size: 3rem;
font-weight: 700;
}
.section-1-p {
    color: rgb(114, 114, 114);
font-size: 15px;
font-weight: 400;
line-height: 22px;
margin-top: 20px;
}
.btn{
border-radius: 6px;
background-color: rgb(255, 144, 14);
color: rgb(255, 255, 255);
font-size: 1rem;
font-weight: 600;
line-height: 1.5rem;
letter-spacing: 0%;
border: none;
padding: 1rem;
margin: 1rem;
}
.section-1-img{
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    padding-bottom: 30px;
}
.section-1-img img{
    height: 100%;
    width:100%;
}
/* responsive media query */
@media screen  and (max-width:576px){
    .nav{
        flex-direction: column;
    }
}

/* section2 */
.section-2{
 
    max-width: 935px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
    justify-content: space-between;
}
.section-2-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0 auto;
}
.section-2-img img{
         max-height:300px ;
         max-width:300px ;

}
.section-2-text{
    display: flex;
    max-width: 340px;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-left: 6rem;
}
.section-2-text-h2{
    color: #727272;
    font-size: 2.5rem;
    font-weight: 700;
    line-height:2.5rem;
    text-align:left;
}
@media screen  and (max-width:576px){
    .section-2{
        flex-direction: column-reverse;
        margin: 0 auto;
        margin-top: 30px;
    }
    .section-2-img{
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }
    .section-2-img img{
             max-height:400px ;
             max-width:400px ;
    
    }
    .section-2-text{
        max-width: 520px;
        text-align: center;
        margin: 0 auto;
    }
}
@media screen  and (min-width:577px) and (max-width:990px){

    .section-2-text{
        margin-left: 1rem;
    }
}
/* section-3 */
.section-3{
    max-width: 935px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
}
.section-3-text h3{
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;
    line-height: 2.5rem;
    text-align: left;
}
.section-3-text{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.section-3-img img{
    max-width: 500px;
height: 940px;
}
.card{
    border-radius: 6px;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
background-color: rgb(255, 255, 255);
max-width: 500px;
max-height: 140px;
padding: 10px;
}
.section-3-div2{
    align-items: end;
    position: relative;
    
}
.highlight{
    background-color: #FF900E;
    width: 180px;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 90%;
    z-index: 1;
}
/* section-3 responsibe */
@media screen  and (max-width:576px){
    .section-3{
        max-width: 550px;
flex-direction: column;
        margin-top: 10px;
    }

    .section-3-div2{

        margin: 0 auto;
        
    }
}
/* section-4 */

.section-4{
     max-width: 935px;
     display: flex;
     flex-direction: column;
     margin: 40px auto  ;
     margin-top: 40px;
     text-align: center;

}
.section-4-text-h3{
    color: rgb(19, 19, 19);
font-size: 2.8rem;
font-weight: 700;
line-height:2.6rem;
text-align: center;
}
.section-4-card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 30px;
}
.section-4-card{
    width: 200px;
    height: 180px;
    padding: 30px;
    align-items: center;
    box-sizing: border-box;
border: 1px solid rgb(255, 144, 14);
border-radius: 6px;

}
@media screen  and (max-width:576px){
    .section-4-card-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 0 auto;
        gap: 30px;

}
} 
/* section-5 */
.section-5{
    max-width: 935px;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.section-5-text-5{
    max-width: 550px;
    margin: 0 auto;
    text-align: center;
}
.section-5-sponsor{
 display: flex;
 justify-content: space-between;

}
.section-5-sponsor img{
    width: 120px;
    height: 50px;
    margin: 20px;
}
.footer{
    max-width: 935px;
    height: 80px;
    margin: 0 auto;
    margin-top: 80px;
background-color: rgb(255, 244, 231);
display: flex;
text-align: center;
align-items: center;
justify-content: center;}

.footer-text{
    color: rgb(66, 66, 66);
font-size: 1rem;
font-weight: 400;
text-align: center;
}

@media screen  and (max-width:576px) {
    .section-5{
        max-width: 550px;
        gap: 40px;
    }
    .section-5-text-5{
        max-width: 550px;
        margin: 0 auto;
        text-align: center;
    }
    .section-5-sponsor{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     justify-content: space-between;
     margin: 0 auto;
    }

    .footer{
        max-width: 550px;}
}